<template name="faq">
   <section class="inner ta-left">
		<h1>
			<span class="gold">FAQ - часто задаваемые вопросы</span>
		</h1>
		<div class="faq-block">
			<div class="faq-qa">
				<div class="faq-q">
					<span>Я открыл кейс, но вещь не приходит, что за развод?!</span>
				</div>
				<div class="faq-a" style="display: none;">
					Зайдите в <a href="/user">свой профиль</a> и кликните по ссылке "ЗАБРАТЬ" на интересующем вас предмете.
				</div>
			</div>
			<div class="faq-qa">
				<div class="faq-q">
					<span>При попытке вывести вещь с бота, я получаю ошибку: "К сожалению наш бот не смог отправить ваш предмет...."</span>
				</div>
				<div class="faq-a">
					<b>Бот не может отправить вам предмет в следующих случаях:</b>
					<ul>
						<li> У вас заблокирован обмен (заходили с нового устройства, меняли недавно пароль/почту, изменяли настройки безопасности Steam Guard, имеете VAC-бан, и т.д.). <a href="https://support.steampowered.com/kb_article.php?ref=1047-EDFM-2932&amp;l=russian" target="_blank">Подробнее...</a> Чтобы таких проблем не было, всегда рекомендуем проверять ваш статус трейда на <a href="https://csgo.tm/check/" target="_blank">специальной странице csgo.tm</a></li>
						<li>У вас скрыт инвентарь в <a href="http://steamcommunity.com/id/me/edit/settings/#inventoryPrivacySetting_private" target="_blank">настройках приватности Steam</a></li>
						<li>Проверьте свою trade-ссылку в <a href="/user">профиле</a> и в <a href="http://steamcommunity.com/id/me/tradeoffers/privacy#trade_offer_access_url" target="_blank">настройках Steam</a> - они должны совпадать</li>
						<li>У бота возникли проблемы со связью Steam, такое бывает и довольно часто, проблема в самом Steam, а не в нас. Также бота могли забанить, в этом случае обратитесь в тех.поддержку (<a href="mailto:support@forcedrop.net">support@forcedrop.net</a>)</li>
					</ul>
					<i>Если вы не заберете свой предмет в течение часа, вам вернется полная стоимость этого предмета согласно цене на <a href="http://steamcommunity.com/market/search?appid=730" target="_blank">торговой площадке Steam</a></i>
				</div>
			</div>
			<div class="faq-qa">
				<div class="faq-q">
					<span>У меня не открываются кейсы, пишет ошибку "В данный момент на ботах нет вещей для выбранного кейса. Попробуйте позже."</span>
				</div>
				<div class="faq-a">
					Для обеспечения настоящего рандома, кейсы/категории всегда должны содержать в себе ВСЕ предметы, которые перечислены на странице кейса/категории. Боты попросту не успевают закупаться всеми нужными предметами в нужное время или на торговой площадке отсутствуют некоторые из необходимых для этого кейса предметы.
				</div>
			</div>
			<div class="faq-qa">
				<div class="faq-q">
					<span>Пополнил счет, а деньги не пришли. Что делать?</span>
				</div>
				<div class="faq-a">
					Деньги могут прийти не сразу - подождите 1 час. Если не пришли в течение часа - напишите нам на почту (<a href="mailto:support@forcedrop.net">support@forcedrop.net</a>), указав подробные данные платежа.
				</div>
			</div>
			<div class="faq-qa">
				<div class="faq-q">
					<span>У меня есть деньги на Steam аккаунте, а тут они не отображаются. Почему?</span>
				</div>
				<div class="faq-a">
					Деньги Steam не действуют на этом сайте. Пополнять баланс необходимо отдельно.
				</div>
			</div>
			<div class="faq-qa">
				<div class="faq-q">
					<span>Не могу зайти на сайт через Steam, не грузится страница с кейсами, реклама посреди страницы, да и вообще сайт очень сильно лагает, что делать?</span>
				</div>
				<div class="faq-a">
					Чаще всего проблема кроется либо в антивирусе, который блокирует соединение с сайтом, либо в расширениях для браузера, которые показывают рекламу, и, возможно, также блокируют соединение с сайтом. Попробуйте отключить антивирус и удалить подозрительные расширения в браузере. Рекомендуемый для просмотра сайта браузер - Google Chrome.
				</div>
			</div>
		</div>
		<div class="note-attention">
			<div class="icon"></div>
			<div class="descr">
			<div class="head">Внимание!</div>
			<div class="text">Если вы не нашли ответа на свой вопрос в данном разделе, то напишите на почту <a href="mailto:support@forcedrop.net">support@forcedrop.net</a></div>
			</div>
		</div>
		<br>
		<br>
		<div class="custom_howto" style="display: block;">
			<div class="customblock-inner">
				<div class="h1">Почему мы?</div>
				<div class="guarantee_block guarantee_block-gold">
					<div>
						<div>Надёжность</div>
						<i>В случае, если вы не забрали свою вещь сразу, можно зайти в профиль и отправить ее повторно. Например, если вы открываете 10 или 15 кейсов подряд и не принимаете предметы сразу, бот отправит их Вам повторно. Достаточно просто зайти в профиль, и отправить предметы заново.
						</i>
					</div>
					<div>
						<div>Качество</div>
						<i>
							Мы не обманываем, и можем это доказать. Кликнув на предмет в ленте "Live-дропы" вы увидите профиль пользователя, с историей предметов, которые ему выпали. Для чего это нужно? Вы, возможно видели подобную "Live-дроп" ленту на других сайтах, где выпадают разные "Азимов за 5 тысяч", потом покупали кейсы, и выпадало оружие за 2-3 рубля. Здесь Вы можете нажать на иконку предмета (в ленте) и вас перекинет на профиль пользователя, где вы можете посмотреть его инвентарь, и убедиться, что дорогие вещи тоже выпадают, и мы не обманываем. А так же, у нас выше процент выпадения дорогих вещей.
						</i>
					</div>
					<div>
						<div>Скорость</div>
						<i>
							Все полностью автоматизировано. Передача вещей через ботов значительно упрощает весь процесс, и специальный метод закупки гарантирует получение любого предмета, будь то "Тайное" или "Армейское" качество. Возможно вы видели, на многих подобных сайтах не передаются оружия армейского качества, но мы не "Подобный сайт", мы честные люди!
						</i>
					</div>
				</div>

				<div class="h1">Как это работает?</div>
				<div class="guarantee_block">
					<div>
						<div>1. Авторизация</div>
						<i>
						Авторизуйтесь через Steam и перейдите на страницу аккаунта
						</i>
					</div>
					<div>
						<div>2. Trade-ссылка</div>
						<i>
							Введите Trade-ссылку — теперь вы можете моментально получать выигранные предметы
						</i>
					</div>
					<div>
						<div>3. Баланс</div>
						<i>
							Пополните счёт на сайте любым удобным способом, даже ненужными скинами!
						</i>
					</div>
					<div>
						<div>4. Успех :)</div>
						<i>
							Открывайте кейсы по самым выгодным ценам в рунете!
						</i>
					</div>
				</div>
			</div>
		</div>
	</section>

</template>