<template name="partner">
    <div style="display: none;">
        <div class="box-modal" id="referrals">
            <div class="title">Referral link
                <div class="box-modal_close arcticmodal-close"></div>
            </div>
            <div class="balance">
                <div>Copy the referral link</div>
                <input type="text" value="https://scratch.gg/?reg=1" name="" placeholder="0" style=" width: 210px; " readonly >
            </div>
        </div>
    </div>


    <div class="referral">
        <div class="text">
            <div class="title">How to make a balance</div>
            <div>Invite a friend and your friend will get $ 2 and you will receive 1% of the completions.</div>
        </div>
        <div class="link">
            <div class="number">Your unique number: 1</div>
            <a href="javascript://" onclick="$('#referrals').arcticmodal()"><span></span>Copy the referral link</a>
        </div>
    </div>
    <!--
        <div class="coins">
            <div class="block op-1">
                <div class="name">COINS YOU GET PER USER</div>
                <div class="text">HOT DEAL!<br>(Only This Month)</div>
            </div>
            <div class="block op-1">
                <div class="name">COINS USERS GET FROM YOU</div>
                <div class="text">HOT DEAL!<br>(Only This Month)</div>
            </div>
            <div class="block op-2">
                <div class="name">TOTAL BET</div>
                <div class="numb"><span></span>0</div>
            </div>
            <div class="block op-3">
                <div class="name">EARNINGS</div>
                <div class="numb"><span></span>0</div>
            </div>
            <div class="block op-1">
                <div class="name">BALANCE</div>
                <div class="numb"><span></span>0</div>
            </div>
        </div>

        <div class="panel">
            <div class="left">Current earnings: <span>0 / 0</span></div>
            <a href="#"><span></span>COLLECT EARNINGS</a>
        </div>-->

    <div class="table cns">
        <div class="list">
            <div>USERNAME</div>
            <div>YOUR %</div>
            <div>COINS YOU GET PER USER</div>
        </div>
        <div class="list">
            <div>ungrost</div>
            <div>1%</div>
            <div><img src="images/coins.png">0$</div>
        </div>
        <div class="list">
            <div>Red_Devils CSGOBAND.COM</div>
            <div>1%</div>
            <div><img src="images/coins.png">0.44$</div>
        </div>


    </div>

</template>