<template name="footer">
<footer>
		<div class="stat">
			<div class="w33">
				<span>{{stats.case}}</span>
				<i>открыто кейсов</i></div>
			<div class="w33">
				<span>{{ stats.usercount}}</span>
				<i>пользователей</i></div>
			<div class="w33">
				<span>164</span>
				<i>онлайн</i>
			</div>
		</div>
		<div class="info">
			<div class="right">
				<div>ForceDrop.net — мощный дроп из кейсов CS:GO</div>
				<div>
					<a href="/agreement">Пользовательское соглашение</a>
					<a href="/contacts">Контакты</a>
				</div>
				<div>

				</div>
			</div>
			<div class="left">
				<img src="/img/pay_webmoney.png">
				<img src="/img/pay_yandex.png">
				<img src="/img/pay_qiwi.png">
			</div>
		</div>
	</footer>
</template>